body {
    background: #efefea;
}
.backgroundPrincipal {
    background-image: url("../Img/background.jpg");
    height: 200px;
    /*background-attachment: fixed;*/
}
.backgroundFooter {
    background-image: url("../Img/background.jpg");
    height: 100px;
}

.backgroundHeaderPersonal {
    background-image: url("../Img/background.jpg");
    height: 100px;
}